In [1]:
import pandas as pd
import numpy as np

# Load LUNG transplant data

In [2]:
# Load transplant data (tx_lu) and display it
tx_lu1 = pd.read_csv('Data/SRTR/tx_lu.csv')
tx_lu1

<ipython-input-2-83c1b15e684b>:2: DtypeWarning: Columns (62,154,216,217,218,219) have mixed types. Specify dtype option on import or set low_memory=False.
  tx_lu1 = pd.read_csv('Data/SRTR/tx_lu.csv')

,ORG_TY,PERS_ID,REC_TX_DT,REC_POSTX_LOS,PX_ID,REC_A_MM_EQUIV_TX,REC_A_MM_EQUIV_CUR,REC_B_MM_EQUIV_TX,REC_B_MM_EQUIV_CUR,REC_DR_MM_EQUIV_TX,...,TFL_COD,PERS_RELIST,PERS_RETX,PERS_RETX_TRR_ID,TFL_LAFUDATE,REC_MM_EQUIV_TX,REC_MM_EQUIV_CUR,PERS_OPTN_COD,DONOR_ID,DONOR_ID_VESSEL
0,LU,3573189,02/01/1994,13.0,-1670078,1.0,1.0,2.0,2.0,NaN,...,2705.0,NaN,NaN,NaN,11/02/1997,NaN,NaN,2705.0,244406,NaN
1,LU,3563712,01/24/1994,17.0,-1669994,2.0,2.0,2.0,2.0,2.0,...,2705.0,NaN,NaN,NaN,05/28/1997,6.0,6.0,2705.0,145095,NaN
2,LU,3611369,02/22/1994,20.0,-1670167,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,03/25/2021,3.0,3.0,NaN,10164,NaN
3,LU,3559738,05/29/1993,25.0,-1668364,1.0,1.0,2.0,2.0,1.0,...,2200.0,NaN,NaN,NaN,01/06/2003,4.0,4.0,2200.0,40393,NaN
4,LU,3565693,06/21/1993,60.0,-1668537,2.0,2.0,2.0,2.0,1.0,...,2301.0,NaN,NaN,NaN,03/26/2007,5.0,5.0,2301.0,227001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44921,LU,8450648,03/27/2021,18.0,1389628,2.0,2.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,04/14/2021,5.0,5.0,NaN,604964,NaN
44922,LU,8481071,04/05/2021,NaN,1390801,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,04/05/2021,6.0,6.0,NaN,605281,NaN
44923,LU,8488624,05/08/2021,NaN,1398917,0.0,0.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,05/08/2021,3.0,3.0,NaN,607756,NaN
44924,LU,8486791,05/20/2021,NaN,1397613,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,05/20/2021,NaN,NaN,NaN,608702,NaN
44925,LU,8490400,05/24/2021,NaN,1401362,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,05/24/2021,NaN,NaN,NaN,608791,NaN

In [3]:
print(pd.to_datetime(tx_lu1['REC_TX_DT']).min())
print(pd.to_datetime(tx_lu1['REC_TX_DT']).max())

1987-10-16 00:00:00
2021-06-01 00:00:00

In [4]:
tx_lu1.shape

(44926, 317)

In [5]:
# Remove patients with more than one transplant from tx_lu
v = tx_lu1['PERS_ID'].value_counts()
tx_lu_exclude = tx_lu1[tx_lu1['PERS_ID'].isin(v.index[v.gt(1)])]
tx_lu2 = tx_lu1.loc[~tx_lu1['PERS_ID'].isin(tx_lu_exclude['PERS_ID'])]
tx_lu2.shape

(41326, 317)

In [6]:
# Remove patients younger than 18 from tx_lu
tx_lu3 = tx_lu2.loc[tx_lu2['REC_AGE_AT_TX']>=18]
tx_lu3.shape

(40233, 317)

In [7]:
sum(~tx_lu2['PERS_ID'].isin(tx_lu3['PERS_ID']))

1093

In [8]:
# Remove transplantations before 1987 from tx_lu (there is none) 
tx_lu3['REC_TX_DT'] = pd.to_datetime(tx_lu3['REC_TX_DT'])
tx_lu4 = tx_lu3[tx_lu3['REC_TX_DT']>pd.Timestamp(1986,12,31)]
# tx_lu4 = tx_lu3[tx_lu3['REC_TX_DT']<pd.Timestamp(2016,1,1)]
tx_lu4.shape

<ipython-input-8-56f6e5e9ddc7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_lu3['REC_TX_DT'] = pd.to_datetime(tx_lu3['REC_TX_DT'])

(40233, 317)

In [9]:
# Remove patients with retransplants from tx_lu
reTX = tx_lu4[(tx_lu4['REC_THOR_RETX']=="Y") | (tx_lu4['REC_PX_STAT']=="R")]
tx_lu5 = tx_lu4.loc[~tx_lu4['PERS_ID'].isin(reTX['PERS_ID'])]
tx_lu5.shape

(40205, 317)

In [10]:
tx_lu6 = tx_lu5[tx_lu5['REC_TX_ORG_TY']=="LU"]
tx_lu6.shape

(40011, 317)

In [11]:
40005-(3991+2690)

33324

# Load LUNG transplant follow-up data

In [12]:
# Load follow-up data (txf_lu)
txf_lu1 = pd.read_csv('Data/SRTR/txf_lu.csv')
txf_lu1['PERS_ID'] = txf_lu1['PERS_ID'].astype('object')
txf_lu1['TRR_FOL_ID'] = txf_lu1['TRR_FOL_ID'].astype('object')
txf_lu1

<ipython-input-12-1a2f3306714e>:2: DtypeWarning: Columns (18,34,45,58,64,65,78,79,85,86,87,88,89,90,96,97) have mixed types. Specify dtype option on import or set low_memory=False.
  txf_lu1 = pd.read_csv('Data/SRTR/txf_lu.csv')

,TRR_FOL_ID,TRR_ID,TFL_FOL_CD,PERS_ID,REC_TX_DT,ORG_TY,TFL_PERM_STATE,REC_CTR_CD,REC_CTR_TY,TFL_TXFER_DT,...,TFL_INSULIN_DEPND,TFL_STROKE,TFL_HYPERLIPID,REC_CTR_ID,REC_OPO_ID,PX_ID,TX_ID,ORG_AR,REC_TX_TY,REC_TX_ORG_TY
0,16,3,999,3637564,05/07/1997,LU,ZZ,PAPT,TX1,NaN,...,NaN,N,N,527,530,-1999993,1180263,LU,1,LU
1,15,3,10,3637564,05/07/1997,LU,ZZ,PAPT,TX1,NaN,...,N,N,N,527,530,-1999993,1180263,LU,1,LU
2,1529380,4,30,3641496,06/02/1998,LU,ZZ,PACH,TX1,NaN,...,Y,N,N,514,530,-1999989,1204345,LU,1,LU
3,1344010,4,20,3641496,06/02/1998,LU,ZZ,PACH,TX1,NaN,...,NaN,N,N,514,530,-1999989,1204345,LU,1,LU
4,18,4,10,3641496,06/02/1998,LU,ZZ,PACH,TX1,NaN,...,NaN,N,N,514,530,-1999989,1204345,LU,1,LU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237030,7193289,890308,999,3765183,02/06/2021,LU,MA,MAMG,TX1,NaN,...,NaN,NaN,NaN,298,302,1381440,1867270,LU,1,LU
237031,7219139,890527,999,8473832,02/09/2021,LU,GA,TNVU,TX1,NaN,...,NaN,NaN,NaN,620,604,1381976,1867484,LU,1,LU
237032,7250643,891833,999,8474531,02/20/2021,LU,IN,INIM,TX1,NaN,...,NaN,NaN,NaN,195,200,1382968,1868747,LU,1,LU
237033,7249517,893450,999,8474485,03/06/2021,LU,TN,MOCH,TX1,NaN,...,NaN,NaN,NaN,353,360,1382901,1870325,LU,1,LU
237034,7283236,894676,999,8476257,03/17/2021,LU,MI,MIHF,TX1,NaN,...,NaN,NaN,NaN,324,330,1385363,1871520,LU,1,LU

In [13]:
# Remove patients without follow-up from tx_lu
tx_lu7 = tx_lu6.loc[tx_lu6['PERS_ID'].isin(txf_lu1['PERS_ID'])]
tx_lu7.shape

(36020, 317)

In [14]:
# Remove patients with more than one transplant from txf_lu (follow-up file)
# Remove patients younger than 18 from txf_lu (follow-up file)
# Remove transplantations before 1987 from txf_lu (follow-up file)
# Remove patients with retransplants from txf_lu (follow-up file)

txf_lu2 = txf_lu1.loc[txf_lu1['PERS_ID'].isin(tx_lu7['PERS_ID'])]
txf_lu2.shape

(212773, 105)

In [15]:
# Double-check that there are no re-transplants by using TFL_PX_STAT (status of patient at follow-up)
reTX2 = txf_lu2['PERS_ID'][txf_lu2['TFL_PX_STAT']=='R']
txf_lu3 = txf_lu2.loc[~txf_lu2['PERS_ID'].isin(reTX2)]
txf_lu3.shape

(212749, 105)

In [16]:
tx_lu7.shape[0]-tx_lu7[tx_lu7['PERS_ID'].isin(txf_lu3['PERS_ID'])].shape[0]

6

# Load malignancy data

In [17]:
# Load malignancy data (malig) 
malig1 = pd.read_csv('Data/SRTR/malig.csv')
malig1['TRR_FOL_ID'] = malig1['TRR_FOL_ID'].astype('object')
malig1.shape

<ipython-input-17-1f6e7ed90fbb>:2: DtypeWarning: Columns (2,4,16,17,38,47,56,69,92,96,100,107,108,109,118,119,120,122,123,125,126,128,129,130,132,134,135,136,137,139,141,143,145) have mixed types. Specify dtype option on import or set low_memory=False.
  malig1 = pd.read_csv('Data/SRTR/malig.csv')

(151807, 146)

In [18]:
# Match patients in follow-up file to patients in malignancy file
malig2 = malig1.loc[malig1['TRR_FOL_ID'].isin(txf_lu3['TRR_FOL_ID'])]
malig2.shape

(14852, 146)

In [19]:
# Remove patients without a PTLD pathology date
malig3 = malig2.loc[~malig2['MAL_PTLD_DGN_DT'].isnull()]
malig3.shape

(1030, 146)

In [20]:
# Merge follow-up data (txf_lu3) with malignancy file (malig3) so we can compute time-to-event (time-to-PTLD)
# Let's call it "ptld" (PTLD(+) patients)

ptld = pd.merge(txf_lu3, malig3, on="TRR_FOL_ID")
ptld.shape

(1030, 250)

In [21]:
# Compute time-to-event for PTLD(+) patients
# pd.set_option('display.max_rows', None)
time_to_PTLD = pd.to_datetime(ptld['MAL_PTLD_DGN_DT'])-pd.to_datetime(ptld['REC_TX_DT'])
ptld['TIME_TO_EVENT'] = time_to_PTLD

# PTLD(+) patients in one year
ptld1Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*1, unit='d')]
ptld1Y = ptld1Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld1Y.shape)

# PTLD(+) patients in two years
ptld2Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*2, unit='d')]
ptld2Y = ptld2Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld2Y.shape)

# PTLD(+) patients in three years
ptld3Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*3, unit='d')]
ptld3Y = ptld3Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld3Y.shape)

# PTLD(+) patients in four years
ptld4Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*4, unit='d')]
ptld4Y = ptld4Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld4Y.shape)

# PTLD(+) patients in five years
ptld5Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*5, unit='d')]
ptld5Y = ptld5Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld5Y.shape)

# PTLD(+) patients in eight years
ptld8Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*8, unit='d')]
ptld8Y = ptld8Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld8Y.shape)

# PTLD(+) patients in 10 years
ptld10Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*10, unit='d')]
ptld10Y = ptld10Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld10Y.shape)

# PTLD(+) patients in 12 years
ptld12Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*12, unit='d')]
ptld12Y = ptld12Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld12Y.shape)

# PTLD(+) patients in 15 years
ptld15Y = ptld[ptld['TIME_TO_EVENT']<pd.Timedelta(365*15, unit='d')]
ptld15Y = ptld15Y.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld15Y.shape)


# Check for duplicates in PTLD patients, PTLD(+) all
ptld = ptld.sort_values(by=['PERS_ID', 'TIME_TO_EVENT'])
ptld = ptld.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld.shape)

(303, 251)
(405, 251)
(479, 251)
(542, 251)
(588, 251)
(703, 251)
(764, 251)
(798, 251)
(836, 251)
(867, 251)

In [22]:
# Extract ids of PTLD patients with and without diagnosis date in the malignancy file
allPTLDID = txf_lu3[txf_lu3['TFL_MALIG_LYMPH']=='Y']['PERS_ID'].drop_duplicates()
ptld_nodateID = allPTLDID[~allPTLDID.isin(ptld['PERS_ID'])]
ptld_nodate = txf_lu3[txf_lu3['PERS_ID'].isin(ptld_nodateID)]
ptld_nodate = ptld_nodate[ptld_nodate['TFL_MALIG_LYMPH']=='Y']

In [23]:
# Compute time-to-event for PTLD(+) patients without diagnosis date. 
# Use first follow-up date at which malignancy was identified.
time_to_PTLD2 = pd.to_datetime(ptld_nodate['TFL_PX_STAT_DT'])-pd.to_datetime(ptld_nodate['REC_TX_DT'])
ptld_nodate['TIME_TO_EVENT'] = time_to_PTLD2

# PTLD(+) patients in one year
ptld1Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*1, unit='d')]
ptld1Y2 = ptld1Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld1Y2.shape)

# PTLD(+) patients in two years
ptld2Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*2, unit='d')]
ptld2Y2 = ptld2Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld2Y2.shape)

# PTLD(+) patients in three years
ptld3Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*3, unit='d')]
ptld3Y2 = ptld3Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld3Y2.shape)

# PTLD(+) patients in four years
ptld4Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*4, unit='d')]
ptld4Y2 = ptld4Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld4Y2.shape)

# PTLD(+) patients in five years
ptld5Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*5, unit='d')]
ptld5Y2 = ptld5Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld5Y2.shape)

# PTLD(+) patients in eight years
ptld8Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*8, unit='d')]
ptld8Y2 = ptld8Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld8Y2.shape)

# PTLD(+) patients in 10 years
ptld10Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*10, unit='d')]
ptld10Y2 = ptld10Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld10Y2.shape)

# PTLD(+) patients in 12 years
ptld12Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*12, unit='d')]
ptld12Y2 = ptld12Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld12Y2.shape)

# PTLD(+) patients in 15 years
ptld15Y2 = ptld_nodate[ptld_nodate['TIME_TO_EVENT']<pd.Timedelta(365*15, unit='d')]
ptld15Y2 = ptld15Y2.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld15Y2.shape)


# Check for duplicates in PTLD patients, PTLD(+) all
ptld_nodate = ptld_nodate.sort_values(by=['PERS_ID', 'TIME_TO_EVENT'])
ptld_nodate = ptld_nodate.drop_duplicates('PERS_ID') # Check for duplicates
print(ptld_nodate.shape)

(25, 106)
(75, 106)
(89, 106)
(99, 106)
(105, 106)
(113, 106)
(114, 106)
(115, 106)
(116, 106)
(117, 106)

In [24]:
# Concatenate all PTLD patients for each time period
ptld1Y_all = pd.concat([ptld1Y,ptld1Y2])
ptld1Y_all['EVENT']=1
print(ptld1Y_all.shape)

ptld2Y_all = pd.concat([ptld2Y,ptld2Y2])
ptld2Y_all['EVENT']=1
print(ptld2Y_all.shape)

ptld3Y_all = pd.concat([ptld3Y,ptld3Y2])
ptld3Y_all['EVENT']=1
print(ptld3Y_all.shape)

ptld4Y_all = pd.concat([ptld4Y,ptld4Y2])
ptld4Y_all['EVENT']=1
print(ptld4Y_all.shape)

ptld5Y_all = pd.concat([ptld5Y,ptld5Y2])
ptld5Y_all['EVENT']=1
print(ptld5Y_all.shape)

ptld8Y_all = pd.concat([ptld8Y,ptld8Y2])
ptld8Y_all['EVENT']=1
print(ptld8Y_all.shape)

ptld10Y_all = pd.concat([ptld10Y,ptld10Y2])
ptld10Y_all['EVENT']=1
print(ptld10Y_all.shape)

ptld12Y_all = pd.concat([ptld12Y,ptld12Y2])
ptld12Y_all['EVENT']=1
print(ptld12Y_all.shape)

ptld15Y_all = pd.concat([ptld15Y,ptld15Y2])
ptld15Y_all['EVENT']=1
print(ptld15Y_all.shape)

ptld_all = pd.concat([ptld,ptld_nodate])
ptld_all['EVENT']=1
print(ptld_all.shape)

(328, 252)
(480, 252)
(568, 252)
(641, 252)
(693, 252)
(816, 252)
(878, 252)
(913, 252)
(952, 252)
(984, 252)

<ipython-input-24-64fe7f49f4c1>:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld1Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld2Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld3Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld4Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld5Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:23: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld8Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:27: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld10Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld12Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld15Y_all['EVENT']=1
<ipython-input-24-64fe7f49f4c1>:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ptld_all['EVENT']=1

In [25]:
malig1["MAL_PTLD_PATHOLOGY_TY"].value_counts()

MAL_PTLD_PATHOLOGY_TY
3.0    5219
6.0    4842
2.0    3278
5.0     492
4.0     452
1.0     193
Name: count, dtype: int64

In [26]:
ptld_all

,TRR_FOL_ID,TRR_ID,TFL_FOL_CD,PERS_ID,REC_TX_DT,ORG_TY,TFL_PERM_STATE,REC_CTR_CD,REC_CTR_TY,TFL_TXFER_DT,...,MAL_PTLD_IMMUNO_TY,MAL_PTLD_IMMUNO_BESTRESP,MAL_NAT_ORG_LI,TFL_NAT_ORG_LI_TY,MAL_NAT_ORG_KI,TFL_NAT_ORG_KI_TY,MAL_NAT_ORG_LU,TFL_NAT_ORG_LU_TY,TIME_TO_EVENT,EVENT
67,1250093,132054,50,2138220,11/15/1994,LU,ZZ,CASD,TX1,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1534 days,1
227,2191040,261205,999,2189755,08/28/2000,LU,MD,MDJH,TX1,NaN,...,4.0,PD,NaN,NaN,NaN,NaN,NaN,NaN,1567 days,1
41,1471375,34873,90,2193161,02/03/1992,LU,ZZ,MNAN,TX1,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3163 days,1
65,1284382,128572,999,2195552,01/27/1995,LU,ZZ,MNUM,TX1,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1659 days,1
13,2863663,13614,999,2199156,08/04/1994,LU,MS,MNUM,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4646 days,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128387,6976865,509658,999,4698919,08/22/2009,LU,IL,ILUC,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3764 days,1
170275,7209265,611414,999,4922394,03/18/2013,LU,GA,GAEM,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2814 days,1
169241,7173851,609145,80,4991773,02/16/2013,LU,MO,MOBH,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2946 days,1
222983,7244536,780317,30,5283877,04/18/2018,LU,OH,OHOU,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1121 days,1
229678,6805437,815461,10,5339439,03/24/2019,LU,IN,MOBH,TX1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,396 days,1

In [27]:
malig1[malig1['TRR_FOL_ID'].isin(ptld_all['TRR_FOL_ID'])]["MAL_PTLD_PATHOLOGY_TY"].value_counts()

MAL_PTLD_PATHOLOGY_TY
3.0    420
6.0    216
2.0    209
5.0     11
4.0      9
1.0      3
Name: count, dtype: int64

In [28]:
malig1[malig1['TRR_FOL_ID'].isin(ptld_all['TRR_FOL_ID'])]["MAL_PTLD_PATHOLOGY_TY"].value_counts(normalize=True)

MAL_PTLD_PATHOLOGY_TY
3.0    0.483871
6.0    0.248848
2.0    0.240783
5.0    0.012673
4.0    0.010369
1.0    0.003456
Name: proportion, dtype: float64

In [29]:
ptld_type_count = malig1[malig1['TRR_FOL_ID'].isin(ptld_all['TRR_FOL_ID'])]["MAL_PTLD_PATHOLOGY_TY"].value_counts().reset_index(drop=False)
ptld_type_overall = malig1[malig1['TRR_FOL_ID'].isin(ptld_all['TRR_FOL_ID'])]["MAL_PTLD_PATHOLOGY_TY"].value_counts().sum()

In [30]:
ptld_type = pd.DataFrame()
ptld_type = pd.concat([ptld_type,ptld_type_count])
# ptld_type['Organ type'] = 'Lung'
ptld_type.loc[6] = ['Not reported',ptld_all.shape[0]-ptld_type_overall]
ptld_type = ptld_type.rename(columns={'MAL_PTLD_PATHOLOGY_TY': 'PTLD Type', 'count':'Lung'})
ptld_type['PTLD Type'] = ptld_type['PTLD Type'].replace([1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
                                                        ['Polymorphic Hyperplasia','Polymorphic PTLD (lymphoma)', ' Monomorphic PTLD (lymphoma)', 'Mutiple Myeloma, Plasmacytoma', 'Hodgkin\'s Disease', 'Other, Specify'])
# ptld_type = ptld_type[['PTLD Type', 'Count']]

In [31]:
ptld_type

                       PTLD Type  Lung
0    Monomorphic PTLD (lymphoma)   420
1                 Other, Specify   216
2    Polymorphic PTLD (lymphoma)   209
3              Hodgkin's Disease    11
4  Mutiple Myeloma, Plasmacytoma     9
5        Polymorphic Hyperplasia     3
6                   Not reported   116

In [32]:
ptld_type.to_csv('lung_ptld_type.csv',index=False)

In [33]:
trr_path = malig1[malig1['TRR_FOL_ID'].isin(ptld_all['TRR_FOL_ID'])][['TRR_FOL_ID',"MAL_PTLD_PATHOLOGY_TY"]]
trr_path = trr_path.reset_index(drop=True)
trr_path = trr_path.merge(txf_lu1[['PERS_ID','TRR_ID','TRR_FOL_ID']],on='TRR_FOL_ID')
trr_path['MAL_PTLD_PATHOLOGY_TY'] = trr_path['MAL_PTLD_PATHOLOGY_TY'].replace([1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
                                                                              ['Polymorphic Hyperplasia','Polymorphic PTLD (lymphoma)', ' Monomorphic PTLD (lymphoma)', 'Mutiple Myeloma, Plasmacytoma', 'Hodgkin\'s Disease', 'Other, Specify'])

In [34]:
# For PTLD(-) patients, remove all patients who have not been seen alive at least once during follow-up ('TFL_PX_STAT_DT'=='A')
txf_lu4 = txf_lu3[txf_lu3['PERS_ID'].isin(txf_lu3['PERS_ID'][txf_lu3['TFL_PX_STAT']=='A'])]
txf_lu4.shape

(210045, 105)

In [35]:
sum(tx_lu7['PERS_ID'].isin(txf_lu4['PERS_ID'])) # new

33324

In [36]:
txf_lu4['PERS_ID'] # new

0         3637564
1         3637564
9         3569461
10        3569461
11        3569461
           ...
237010    8418072
237011    8456100
237013    8462198
237015    8460835
237016    8457763
Name: PERS_ID, Length: 210045, dtype: object

In [37]:
print(58539-55388) # new
print(36020-33324)

3151
2696

In [38]:
# For PTLD(-) patients, remove all patients who only have "unknown" in the MALIGNANCY column of the follow-up file
# txf_lu5 = txf_lu4[~txf_lu4['TRR_FOL_ID'].isin(txf_lu4[txf_lu4['TFL_MALIG']=='U']['TRR_FOL_ID'])]
txf_lu5 = txf_lu4
txf_lu5.shape

(210045, 105)

In [39]:
# For PTLD(-) patients, we compute time from transplant date to latest follow-up date
# Begin by re-orginizing the dataset
pd.set_option('display.max_columns', None)
txf_lu6 = txf_lu5.sort_values(by=['TRR_FOL_ID','PERS_ID', 'TFL_PX_STAT_DT'])
txf_lu6.shape

(210045, 105)

In [40]:
# Remove TFL_PX_STAT other than Alive from follow-up data
# Keep only latest follow-up

folupLatest = txf_lu6[(txf_lu6['TFL_PX_STAT']=="A")]
folupLatest = folupLatest.sort_values(by=['TRR_FOL_ID','PERS_ID','TFL_PX_STAT_DT']).drop_duplicates(subset=["PERS_ID"], keep="last")
folupLatest['TIME_TO_EVENT'] = pd.to_datetime(folupLatest['TFL_PX_STAT_DT'])-pd.to_datetime(folupLatest['REC_TX_DT'])
folupLatest.shape

(33324, 106)

In [41]:
txf_lu6[txf_lu6['PERS_ID']==3665364]['TFL_PX_STAT_DT']

Series([], Name: TFL_PX_STAT_DT, dtype: object)

In [42]:
# PTLD(-) patients (overall)
no_ptld = folupLatest[~folupLatest['PERS_ID'].isin(allPTLDID)]

# Double-check that there are no positive PTLD patients in the PTLD(-) group
no_ptld = no_ptld[~no_ptld['PERS_ID'].isin(txf_lu6[txf_lu6['TFL_MALIG_LYMPH']=='Y']['PERS_ID'])]

# Remove patients who had a PTLD status of unknown ("U") during the last follow-up appointment
no_ptld = no_ptld[~no_ptld['PERS_ID'].isin(folupLatest[folupLatest['TFL_MALIG_LYMPH']=='U']['PERS_ID'])]

# Remove patients who only have PTLD status of unknown ("U") in the follow-up data
lymph_u_nan_only = txf_lu6[~txf_lu6['PERS_ID'].isin(txf_lu6[((txf_lu6['TFL_MALIG_LYMPH']=='Y')|(txf_lu6['TFL_MALIG_LYMPH']=='N'))]['PERS_ID'])]
no_ptld = no_ptld[~no_ptld['PERS_ID'].isin(lymph_u_nan_only[lymph_u_nan_only['TFL_MALIG_LYMPH']=='U']['PERS_ID'])]
no_ptld.shape

(32260, 106)

In [43]:
# PTLD(-) patients in one year
# We also have to add PTLD(+) patients who did not develop PTLD in 1 year
no_ptld1Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*1, unit='d')]
no_ptld1Y = pd.concat([no_ptld1Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld1Y_all['PERS_ID'])]]) 
no_ptld1Y['EVENT']=0
print(no_ptld1Y.shape)

# PTLD(-) patients in two years
# We also have to add PTLD(+) patients who did not develop PTLD in 2 years
# We also have to remove patients who have an "unknown" in the malignancy column in 2 years follow-up

no_ptld2Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*2, unit='d')]
no_ptld2Y = pd.concat([no_ptld2Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld2Y_all['PERS_ID'])]]) 
no_ptld2Y['EVENT']=0
print(no_ptld2Y.shape)


# PTLD(-) patients in three years
# We also have to add PTLD(+) patients who did not develop PTLD in 3 years
# We also have to remove patients who have an "unknown" in the malignancy column in 3 years follow-up

no_ptld3Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*3, unit='d')]
no_ptld3Y = pd.concat([no_ptld3Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld3Y_all['PERS_ID'])]])
no_ptld3Y['EVENT']=0
print(no_ptld3Y.shape)

# PTLD(-) patients in four years
# We also have to add PTLD(+) patients who did not develop PTLD in 4 years
# We also have to remove patients who have an "unknown" in the malignancy column in 4 years follow-up

no_ptld4Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*4, unit='d')]
no_ptld4Y = pd.concat([no_ptld4Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld4Y_all['PERS_ID'])]])
no_ptld4Y['EVENT']=0
print(no_ptld4Y.shape)

# PTLD(-) patients in five years
# We also have to add PTLD(+) patients who did not develop PTLD in five years
# We also have to remove patients who have an "unknown" in the malignancy column in 5 years follow-up

no_ptld5Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*5, unit='d')]
no_ptld5Y = pd.concat([no_ptld5Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld5Y_all['PERS_ID'])]])
no_ptld5Y['EVENT']=0
print(no_ptld5Y.shape)

# PTLD(-) patients in twelve years
# We also have to add PTLD(+) patients who did not develop PTLD in twelve years
# We also have to remove patients who have an "unknown" in the malignancy column in fifteen years follow-up

no_ptld8Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*8, unit='d')]
no_ptld8Y = pd.concat([no_ptld8Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld8Y_all['PERS_ID'])]])
no_ptld8Y['EVENT']=0
print(no_ptld8Y.shape)

# PTLD(-) patients in ten years
# We also have to add PTLD(+) patients who did not develop PTLD in ten years
# We also have to remove patients who have an "unknown" in the malignancy column in ten years follow-up

no_ptld10Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*10, unit='d')]
no_ptld10Y = pd.concat([no_ptld10Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld10Y_all['PERS_ID'])]])
no_ptld10Y['EVENT']=0
print(no_ptld10Y.shape)

# PTLD(-) patients in twelve years
# We also have to add PTLD(+) patients who did not develop PTLD in twelve years
# We also have to remove patients who have an "unknown" in the malignancy column in fifteen years follow-up

no_ptld12Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*12, unit='d')]
no_ptld12Y = pd.concat([no_ptld12Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld12Y_all['PERS_ID'])]])
no_ptld12Y['EVENT']=0
print(no_ptld12Y.shape)

# PTLD(-) patients in fifteen years
# We also have to add PTLD(+) patients who did not develop PTLD in fifteen years
# We also have to remove patients who have an "unknown" in the malignancy column in fifteen years follow-up

no_ptld15Y = no_ptld[no_ptld['TIME_TO_EVENT']>=pd.Timedelta(365*15, unit='d')]
no_ptld15Y = pd.concat([no_ptld15Y,ptld_all[~ptld_all['PERS_ID'].isin(ptld15Y_all['PERS_ID'])]])
no_ptld15Y['EVENT']=0
print(no_ptld15Y.shape)

(28555, 252)
(23227, 252)
(18933, 252)
(15466, 252)
(12658, 252)
(6691, 252)
(4281, 252)
(2609, 252)
(1238, 252)

In [44]:
# Reduce tx_lu dataset to PTLD(-) and PTLD(+) patients
tx_lu8 = tx_lu7[tx_lu7['PERS_ID'].isin(pd.concat([no_ptld['PERS_ID'],ptld_all['PERS_ID']]))]
print(tx_lu8.shape)
tx_lu8['PTLD'] = 0
tx_lu8['PTLD'][tx_lu8['PERS_ID'].isin(ptld_all['PERS_ID'])]=1
print(tx_lu8['PTLD'].value_counts())

(33244, 317)
PTLD
0    32260
1      984
Name: count, dtype: int64

<ipython-input-44-e1f80bc2e963>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_lu8['PTLD'] = 0
<ipython-input-44-e1f80bc2e963>:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  tx_lu8['PTLD'][tx_lu8['PERS_ID'].isin(ptld_all['PERS_ID'])]=1
<ipython-input-44-e1f80bc2e963>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_lu8['PTLD'][tx_lu8['PERS_ID'].isin(ptld_all['PERS_ID'])]=1
<ipython-input-44-e1f80bc2e963>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_lu8['PTLD'][tx_lu8['PERS_ID'].isin(ptld_all['PERS_ID'])]=1

In [45]:
tx_lu8['PTLD'].value_counts(normalize=True)

PTLD
0    0.970401
1    0.029599
Name: proportion, dtype: float64

# Load immunosuppression data

In [46]:
# Merge immunosuppression data with tx_lu data
immuno = pd.read_csv('Data/SRTR/immuno.csv')
immuno = immuno.replace(0, np.nan)
immuno['REC_DRUG_CD'] = immuno['REC_DRUG_CD'].replace([-2,3,4,44,46,48],333)
immuno['REC_DRUG_CD'] = immuno['REC_DRUG_CD'].replace([5,53,54,59],555)
immuno['REC_DRUG_CD'] = immuno['REC_DRUG_CD'].replace([9,47,55,57],999)
immuno['REC_DRUG_CD'] = immuno['REC_DRUG_CD'].replace([6,58],666)
immuno['REC_DRUG_CD'] = immuno['REC_DRUG_CD'].replace([1,2,49],4949)
IND = immuno['REC_DRUG_CD']*immuno['REC_DRUG_INDUCTION']
ANTI_REJ = immuno['REC_DRUG_CD']*immuno['REC_DRUG_ANTI_REJ']
MAINT = immuno['REC_DRUG_CD']*immuno['REC_DRUG_MAINT']
immuno_set = pd.concat([immuno['TRR_ID'], pd.get_dummies(IND, prefix='INDUCTION')],axis=1)
immuno_set = pd.concat([immuno_set, pd.get_dummies(ANTI_REJ, prefix='ANTI_REJECTION')],axis=1)
immuno_set = pd.concat([immuno_set, pd.get_dummies(MAINT, prefix='MAINTENANCE_DISCHARGE')],axis=1)
immuno_set = immuno_set.groupby('TRR_ID').sum()
immuno_set = immuno_set.replace([2,3,4],1)

In [47]:
# Create final data file
data = pd.merge(tx_lu8, immuno_set, on="TRR_ID",how="left")
data.shape
data.to_csv('PTLD_Data.csv',index=False)

# Create ID file for 1st Year Patients 
PTLD1Y_ID = ptld1Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD1Y_ID = no_ptld1Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID1Y = pd.concat([PTLD1Y_ID,NOPTLD1Y_ID])
ID1Y.to_csv('ID1Y_LUNG.csv',index=False)

# Create ID file for 2nd Year Patients
PTLD2Y_ID = ptld2Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD2Y_ID = no_ptld2Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID2Y = pd.concat([PTLD2Y_ID,NOPTLD2Y_ID])
ID2Y.to_csv('ID2Y_LUNG.csv',index=False)

# Create ID file for 3rd Year Patients
PTLD3Y_ID = ptld3Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD3Y_ID = no_ptld3Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID3Y = pd.concat([PTLD3Y_ID,NOPTLD3Y_ID])
ID3Y.to_csv('ID3Y_LUNG.csv',index=False)

# Create ID file for 3rd Year Patients
PTLD4Y_ID = ptld4Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD4Y_ID = no_ptld4Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID4Y = pd.concat([PTLD4Y_ID,NOPTLD4Y_ID])
ID4Y.to_csv('ID4Y_LUNG.csv',index=False)

# Create ID file for 5th Year Patients
PTLD5Y_ID = ptld5Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD5Y_ID = no_ptld5Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID5Y = pd.concat([PTLD5Y_ID,NOPTLD5Y_ID])
ID5Y.to_csv('ID5Y_LUNG.csv',index=False)

# Create ID file for 8th Year Patients
PTLD8Y_ID = ptld8Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD8Y_ID = no_ptld8Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID8Y = pd.concat([PTLD8Y_ID,NOPTLD8Y_ID])
ID8Y.to_csv('ID8Y_LUNG.csv',index=False)

# Create ID file for 10th Year Patients
PTLD10Y_ID = ptld10Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD10Y_ID = no_ptld10Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID10Y = pd.concat([PTLD10Y_ID,NOPTLD10Y_ID])
ID10Y.to_csv('ID10Y_LUNG.csv',index=False)

# Create ID file for 12th Year Patients
PTLD12Y_ID = ptld12Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD12Y_ID = no_ptld12Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID12Y = pd.concat([PTLD12Y_ID,NOPTLD12Y_ID])
ID12Y.to_csv('ID12Y_LUNG.csv',index=False)

# Create ID file for 15th Year Patients
PTLD15Y_ID = ptld15Y_all[['PERS_ID','EVENT']].reset_index().drop(columns='index')
NOPTLD15Y_ID = no_ptld15Y[['PERS_ID','EVENT']].reset_index().drop(columns='index')
ID15Y = pd.concat([PTLD15Y_ID,NOPTLD15Y_ID])
ID15Y.to_csv('ID15Y_LUNG.csv',index=False)

In [48]:
no_ptld_time = pd.DataFrame(no_ptld['TIME_TO_EVENT'].dt.days)
no_ptld_time['PERS_ID'] = no_ptld['PERS_ID']
no_ptld_time['Censor'] = 1
no_ptld_time['Event'] = 0
ptld_time = pd.DataFrame(ptld_all['TIME_TO_EVENT'].dt.days)
ptld_time['PERS_ID'] = ptld_all['PERS_ID']
ptld_time['Censor'] = 0
ptld_time['Event'] = 1
tte_data = pd.concat([no_ptld_time,ptld_time],axis=0)
tte_data = pd.merge(tte_data, trr_path, on='PERS_ID',how='left')
tte_data.loc[tte_data['Event']==0,'MAL_PTLD_PATHOLOGY_TY'] = 0
path_dummies = pd.get_dummies(tte_data['MAL_PTLD_PATHOLOGY_TY'],dummy_na=True)
path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
path_dummies = path_dummies.drop(columns=[0,path_dummies.columns[-1]])
path_dummies = path_dummies.astype(float)
tte_data_final = pd.concat([tte_data,path_dummies],axis=1)
tte_data_final['ORG_TY'] = 'LU'

<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan
<ipython-input-48-8d11f4ca771c>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  path_dummies.loc[path_dummies[path_dummies.columns[-1]]] = np.nan

In [49]:
tte_data_final

,TIME_TO_EVENT,PERS_ID,Censor,Event,TRR_FOL_ID,MAL_PTLD_PATHOLOGY_TY,TRR_ID,Monomorphic PTLD (lymphoma),Hodgkin's Disease,"Mutiple Myeloma, Plasmacytoma","Other, Specify",Polymorphic Hyperplasia,Polymorphic PTLD (lymphoma),ORG_TY
0,401,3637564,1,0,NaN,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,LU
1,728,3569461,1,0,NaN,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,LU
2,362,3663453,1,0,NaN,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,LU
3,1700,3556677,1,0,NaN,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,LU
4,1424,3577244,1,0,NaN,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,LU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33239,3764,4698919,0,1,6976865,NaN,509658.0,NaN,NaN,NaN,NaN,NaN,NaN,LU
33240,2814,4922394,0,1,7209265,NaN,611414.0,NaN,NaN,NaN,NaN,NaN,NaN,LU
33241,2946,4991773,0,1,7173851,NaN,609145.0,NaN,NaN,NaN,NaN,NaN,NaN,LU
33242,1121,5283877,0,1,7244536,NaN,780317.0,NaN,NaN,NaN,NaN,NaN,NaN,LU
33243,396,5339439,0,1,6805437,NaN,815461.0,NaN,NaN,NaN,NaN,NaN,NaN,LU

In [50]:
tte_data_final.to_csv('LUNG_TIME_TO_EVENT_PTLD.csv',index=False)